{% if var.viewMoreLink %}
<p class="view-more-container">
  <a href="#" class="view-more more" title="View additional coverage and details">View additional coverage and details</a>
  <a href="#" class="view-more less" title="View less coverage and details">View less coverage and details</a>
</p>
{% endif %}
